In [42]:
import pandas as pd

In [53]:
df = pd.read_csv('people_team.csv')
df = df.head(4)

In [55]:
import numpy as np

df_merge = df.merge(df, on='team')
results = pd.crosstab(df_merge.peolpe_x, df_merge.peolpe_y)
np.fill_diagonal(results.values, 1)
results = results.replace({0:50, 1:0})
results

peolpe_y,Agathe Laemmel,Amandine Ferbeyre,Amélie Neveux,Edouard Thomas
peolpe_x,,,,
Agathe Laemmel,0,50,0,50
Amandine Ferbeyre,50,0,50,0
Amélie Neveux,0,50,0,50
Edouard Thomas,50,0,50,0

In [56]:
results.to_csv('affinity.csv', index=None, sep=';')